:root{
    --background-black: #2e2e2e;
    --letter-grey: #636363;;
    --soft-grey: #666;
    --orange: #d4780e;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto',sans-serif;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 15vh;
    background-color: var(--background-black);
    display: flex;
    align-items: center;
}
.fondo{
    background-image: url('../images/fondo2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 93vh;
    display: flex;
    align-items: center;
}
.logo{
    margin: auto;
}
img#logo{
    margin: auto;
    width: 100px;
    height: 100px;
}
.login{
    position: relative;
    width: 550px;
    height: 550px;
    background-color: rgb(29, 29, 29, .95);
    left: calc(50% - 275px);
    border-radius: 20px;
}
.login-div{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(53, 53, 53); */
    width: 100%;
    height: 100%;
    
}
.form-div{
    width: 100%;
    height: 100%;
}
.form-div form{
    height: 80%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h2{
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 2.6rem;
    letter-spacing: 2px;
}
h3{
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
.login-div{
    border-radius: 0px;
}
.form-div{
    margin-top: 25px;
}
.input{
    width: 220px;
    height: 70px;
    margin: 0 auto;
}
.input input{
    width: 225px;
    height: 40px;
    padding-left: 15px;
    padding-right: 5px;
    background-color: #fff;
    border: 2.5px var(--orange) solid;
    border-radius: 5px;
    outline: none;
    font-size: 1.6rem;
}
.iniciar-sesion{
    position: absolute;
    bottom: 40px;
    display: flex;
    margin-top: 20px;
    background-color: var(--orange);
    width: 250px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 4px black solid;   
    border-radius: 7px;
    
    left: calc(50% - 125px);
    cursor: pointer;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
}

.preloader {
    display: none;
    margin: auto;
    width: 50px;
    height: 50px;
    border: 8px solid #eee;
    border-top: 8px solid #f6921e;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }