:root{
    --background-black: #2e2e2e;
    --letter-grey: #636363;;
    --soft-grey: #666;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    /* position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
.header-section{
    width: 100%;
    background-color: var(--background-black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-figure{
    margin-right: 10px;
}
.header-figure img{
    width: 125px;
    height: 30px;
}
.header-div--input{
    width: 300px;
    height: 35px;
    border-radius: 1px;
    border: 0;
    padding-left: 15px;
}
.input-button{
    width: 160px;
    background: #f6921e;
    text-align: center;
    color: #fff;
    height: 35px;
    line-height: 35px;
    border: 0;
    margin-left: -2px;
    cursor: pointer;
}
.header-nav a{
    text-decoration: none;
}
.header-nav span{
    color: white;
    font-size: 1.6rem;
}
.header-nav--ul{
    display: flex;
    list-style: none;
}
.header-nav--ul li{
    margin-left: 10px;
}
.header-nav--ul a{
    display: flex;
    align-items: center;
}
.header-nav--ul span{
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.15rem;
}
.icon-book span{
    float: left;
    display: inline-block;
    width: 40px;
    height: 60px;
    background-image: url('/images/libro11-removebg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.icon-heart span{
    float: left;
    display: inline-block;
    width: 40px;
    height: 60px;
    background: url('/images/corazon3.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.inicio-sesion{
    display: inline-block;
    width: 40px;
    height: 60px;
}
.main-section1{
    display: flex;
    margin-top: 50px;
    height: 80vh;
}

/* Aqui estoy trabandoo el main */

.main-aside{
    width: 30%;
    margin-left: 40px;
}
.main-content{
    width: 80%;
}
.main-aside--lista{
    list-style: none;
}
.main-aside--lista li{
    margin-bottom: 10px;
}

.main-aside--lista ol{
    list-style: none;
    margin-top: 10px;
}
.title3{
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    color: #8f8f8f;
}
.title3::after{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 35px;
    background: #a1a1a1;
    content: '';
}
.lista-elemento span{
    background-image: url('/images/down-arrow2-removebg.png');
    width: 10px;
    height: 10px;
    display: inline-block;
    background-size: 100%;
    margin-right: 4px;
}
.lista-elemento a{
    text-decoration: none;
    color: #323232;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    line-height: 2rem;
    height: 20px;
}
.books-container{
    width: 100%;
}
.books-container--portada{
    width: auto;
}
.books-container--portada img{
    width: 180px;
}
.books-container--portada figcaption{
    text-align: center;
    color: var(--letter-grey);
    font-size: 1.6rem;
    line-height: 1.4rem;
    font-weight: bold;
    height: 30px;
    margin-top: 10px;
}
.list-books ul{
    margin-top: 30px;
}
.list-books li{
    float: left;
    width: 180px;
    list-style: none;
    text-align: center;
    margin-right: 26px;
    margin-bottom: 45px;
}
.autor a{
    color: var(--soft-grey);
    font-family: 'Roboto',sans-serif;
    font-size: 1.4rem;
}
.descargar{
    border: 2px solid #080808;
    float: left;
    width: 100%;
    color: #080808;
    font-size: 1rem;
    height: 30px;
    line-height: 25px;
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
}


/* Agregando estilos al footer */


footer{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--background-black);
}
footer p{
    color: white;
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}
.footer-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.footer-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}