:root{
    --background-black: #2e2e2e;
    --letter-grey: #636363;;
    --soft-grey: #666;
    --orange: #f6921e;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    /* position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
.header-section{
    width: 100%;
    height: 70px;
    background-color: var(--background-black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
.header-figure{
    margin-right: 10px;
}
.header-figure img{
    width: 170px;
    height: 30px;
}
.search-div{
    margin-right: 230px;
}
.search-input{
    width: 350px;
    height: 40px;
    border-radius: 7px;
    border: 0;
    padding: 0 20px;
    outline: none;
}
.input-button{
    width: 160px;
    background: var(--orange);
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 35px;
    border: 0;
    margin-left: -7px;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}
.input-button:hover{
    background-color: orange;
}
.header-nav{
    position: absolute;
    right: 15px;
    top: 7px;
}
.header-nav--ul{
    display: flex;

}
.header-nav--ul a{
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav--ul a:hover{
    background-color: rgb(61, 59, 59);
}
.header-nav--ul li{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}
.icon-book{
    float: left;
    width: 70px;
    margin-right: 5px;
    height: 40px;
    background-image: url('/images/libro11-removebg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.icon-book span{
    float: left;
    height: 100%;
    width: 100%;
    background: url('/images/libro11-removebg.png') no-repeat;
    background-size: 100%;
}
.icon-heart{
    float: left;
    width: 40px;
    margin-right: 5px;
    height: 35px;
    background-image: url('/images/corazon3.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.icon-heart span{
    float: left;
    height: 100%;
    width: 100%;
    background: url('/images/corazon3.png') no-repeat;
    background-size: 100%;
}
.inicio-sesion{
    height: 45px;
}
.main-section1{
    display: flex;
    margin-top: 50px;
}

/* Aqui estoy trabandoo el main */

.main-aside{
    width: 100%;
    margin-left: 60px;
}
.main-aside::after{
    position: absolute;
    left: 315px;
    height: 600px;
    bottom: 125px;
    width: 2px;
    background: #a1a1a1;
    content: '';
}
.main-content{
    margin-right: 50px;
}
.main-aside--lista{
    list-style: none;
    width: 100%;
}
.main-aside--lista li{
    margin-bottom: 10px;
}

.main-aside--lista ol{
    list-style: none;
    margin-top: 20px;
    padding-left: 20px;
}
.title3{
    width: 100%;
    position: relative;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
    color: #8f8f8f;
    font-family: 'Roboto',sans-serif;;
}
.title3::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 50px;
    background: #a1a1a1;
    content: '';
}
.lista-elemento span{
    background-image: url('/images/down-arrow2-removebg.png');
    width: 10px;
    height: 10px;
    display: inline-block;
    background-size: 100%;
    margin-right: 4px;
}
.lista-elemento a{
    text-decoration: none;
    color: #323232;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    line-height: 2rem;
    height: 20px;
}
.books-container{
    width: 100%;
}
.books-container--portada{
    width: auto;
}
.books-container--portada img{
    width: 170px;
    border: 4px var(--orange) solid;
    box-shadow: 0px 5px 10px rgba(31, 26, 11, 0.692);
}
.books-container--portada figcaption{
    text-align: center;
    color: var(--letter-grey);
    font-size: 1.6rem;
    line-height: 1.4rem;
    font-weight: bold;
    height: 30px;
    margin-top: 15px;
}
.list-books ul{
    margin-top: 30px;
    width: 100%;
}
.list-books--ul li{
    float: left;
    width: 180px;
    list-style: none;
    text-align: center;
    margin-right: 26px;
    margin-bottom: 45px;
}
.autor a{
    color: var(--soft-grey);
    font-family: 'Roboto',sans-serif;
    font-size: 1.4rem;
}
.descargar{
    border: 2px solid #080808;
    float: left;
    width: 100%;
    color: #080808;
    font-size: 1rem;
    height: 30px;
    line-height: 25px;
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.pagination{
    float: left;
    width: 100%;
    position: relative;
    display: inline-block;
    padding-left: 0;
}
.pagination a{
    border: 2px solid #333;
    float: left;
    letter-spacing: .06rem;
    font-size: 1rem;
    height: 20px;
    line-height: 16.5px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 5px;
    margin: 0 3px;
    color: var(--soft-grey);
}
.counter-pages p{
    color: var(--soft-grey);
    float: right;
    color: #999;
    letter-spacing: .6px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.publicidad{
    float: left;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    text-align: center;
}
.publicidad figcaption{
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}
.publicidad img{
    width: 250px;
    height: 150px;
}
.publicidad a{
    margin-right: 25px;
}

/* Agregando estilos al footer */


footer{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--background-black);
}
footer p{
    color: white;
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}
.footer-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.footer-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
