:root{
    --background-black: #2e2e2e;
    --letter-grey: #636363;;
    --soft-grey: #666;
    --orange: #f6921e;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
header{
    width: 100%;
    /* position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); */
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
.header-section{
    width: 100%;
    background-color: var(--background-black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
    height: 110px;
}
.wrapper{
    margin: 0 auto;
}
.header-figure{
    margin-right: 10px;
}
.header-figure img{
    margin-left: 10px;
    height: 30px;
    float: left;
}
.search-container{
    width: 95%;
    margin-bottom: 20px;
}
.search-div{
    width: 90%;
    margin-top: 0;
}

.search-input{
    min-width: 270px;
    max-width: 350px;
    height: 35px;
    border-radius: 7px;
    border: 0;
    padding: 0 20px;
    outline: none;
    margin-top: 15px;
}
.input-button{
    width: 150px;
    background: var(--orange);
    text-align: center;
    color: #fff;
    height: 35px;
    border: 0;
    margin-left: -7px;
    border-radius: 0 7px 7px 0;
    cursor: pointer;
}
.input-button:hover{
    background-color: orange;
}
.header-nav--ul{
    display: flex;
}
.header-nav--ul li{
}
.header-nav--ul a{
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 1px;
}
.header-nav--ul a:hover{
    background-color: rgb(61, 59, 59);
}
.icon-book{
    float: left;
    width: 30px;
    margin-right: 5px;
    height: 20px;
    background-image: url('/images/libro11-removebg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.icon-book span{
    float: left;
    height: 100%;
    width: 100%;
    background: url('/images/libro11-removebg.png') no-repeat;
    background-size: 100%;
}
.icon-heart{
    float: left;
    width: 20px;
    margin-right: 5px;
    height: 20px;
    background-image: url('/images/corazon3.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.icon-heart span{
    float: left;
    height: 100%;
    width: 100%;
    background: url('/images/corazon3.png') no-repeat;
    background-size: 100%;
}
/* Aqui estoy trabandoo el main */


.main-section1{
    display: flex;
}
/* Este es el aside del main */
.categorias{
    display: none;
}
.main-aside{
    width: 100%;
    margin-left: 20px;
    display: inline;
}
.main-content{
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.main-aside--lista{
    list-style: none;
    width: 100%;
}
.main-aside--lista li{
    margin-bottom: 10px;
}

.main-aside--lista ol{
    list-style: none;
    margin-top: 20px;
    padding-left: 10px;
}
.menu{
    margin-right: 25px;
}
.title-list{
    position: relative;
    width: 100%;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    font-weight: 500;
    color: #8f8f8f;
    font-family: 'Roboto', sans-serif;;
}
.title-books{
    position: relative;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
    color: #8f8f8f;
    font-family: 'Roboto', sans-serif;;
    margin-left: 60px;
}
.title-list{
    font-size: 1.4rem;
}
.title-books::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 50px;
    background: #a1a1a1;
    content: '';
}
.title-list::after{
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 50px;
    background: #a1a1a1;
    content: '';
    
}
.lista-elemento span{
    background-image: url('/images/down-arrow2-removebg.png');
    width: 10px;
    height: 10px;
    display: inline-block;
    background-size: 100%;
    margin-right: 4px;
}
.lista-elemento a{
    text-decoration: none;
    color: #323232;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    line-height: 2rem;
    height: 20px;
}

/* Libros */

.books-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.books-container--portada{
    width: auto;
}
.books-container--portada img{
    width: 150px;
    border: 4px var(--orange) solid;
    box-shadow: 0px 5px 10px rgba(31, 26, 11, 0.692);
}
.books-container--portada figcaption{
    text-align: center;
    color: var(--letter-grey);
    font-size: 1.6rem;
    line-height: 1.4rem;
    font-weight: bold;
    height: 30px;
    margin-top: 15px;
}
.list-books{
    width: 100%;
}
.list-books ul{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.list-books--ul li{
    float: left;
    width: 160px;
    list-style: none;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 45px;

}
.autor{
    margin-top: 20px;
}
.autor a{
    color: var(--soft-grey);
    font-family: 'Roboto',sans-serif;
    font-size: 1.4rem;
}
.descargar{
    border: 2px solid #080808;
    color: #080808;
    font-size: 0.9rem;
    height: auto;
    line-height: 11px;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 6px;
}
.descargar a{
    color: black;
    letter-spacing: 0.5px;
}
.pagination{
    display: flex;
    width: 100%;
    margin: 0 auto;
}
.pagination a{
    border: 2px solid #333;
    float: left;
    letter-spacing: .06rem;
    font-size: 1rem;
    height: 20px;
    line-height: 16.5px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 5px;
    margin: 0 3px;
    color: var(--soft-grey);
}
.counter-pages{
    width: 25%;
    float: right;
    display: flex;
    align-items: center;
}
.counter-pages p{
    
    color: #999;
    letter-spacing: .6px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    
}
.publicidad{
    margin-top: 60px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.publi1, .publi2, .publi3{
    margin: 0 15px;
}

.publicidad figcaption{
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}
.publicidad img{
    width: 250px;
    height: 150px;
}
.publicidad a{
    margin-right: 25px;
}

/* Agregando estilos al footer */


footer{
    display: flex;
    width: 100%;
    background-color: var(--background-black);
}
footer p{
    color: white;
    font-size: 1.4rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}
.footer-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
}
.footer-right{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}
