*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
main{
    display: flex;
    justify-content: center;
    width: 65vw;
    height: 65vh;
    background-color: aquamarine;
    align-items: center;
    margin: 0 auto;
}
h1{
    font-size: 5rem;
}